doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdn.bootcss.com/animate.css/3.5.2/animate.css")
    script(src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js")
    link(rel='stylesheet', href='https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css')
  body
    block content
    block script
