doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdn.bootcss.com/animate.css/3.5.2/animate.css")
  body
    block content
    block script
